<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <h2>로그인</h2>

    <!-- 메시지 표시 -->
    {% if messages %}
        <ul>
            {% for message in messages %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">로그인</button>
    </form>
    <p>계정이 없으신가요? <a href="{% url 'signup_step1' %}">회원가입</a></p>
</body>
</html>
